* {
  margin: 0;
  border: 0;
  box-sizing: border-box;

}
#logo {
  position: absolute;
  margin: auto;
  width: 90%;
  margin-left: 15%;
  top: 0;
  bottom: 0;
}

.input_zone {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10%;
  z-index: 50;
  height: 40px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
font-family: none;

}
button {
  z-index: 11;
  position: relative;
  right: 2%;
  width: 10%;
  height: 100%;
  background-color: #FaFaFA;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #e0e0e0;
  box-shadow: 5px 5px 10px 2px #333333;
}
button:active {
  background-color: #FFF;
}
button img {
  width: 70%;
  height: 70%;
}
.nm_city {
  z-index: 10;
  border-radius: 5px;
  width: 70%;
  height: 100%;
  position: relative;
  margin-left: 15%;
  font-size: 25px;
  outline: none;
}
.nm_city:hover {
  box-shadow: 5px 5px 10px 2px #333333;
}

@media only screen and (max-device-width:425px){
  .input_zone {
    margin-top: 30%;
  }
}
@media only screen and (min-device-width: 426) and (max-device-width:1024px){
  .input_zone {
    margin-top: 25%;
  }
}
